body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
video {
  display: none;
}
video {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-top: 20px;
}
